body{		
	font-family: Trebuchet MS,Arial,Helvetica,sans-serif;	
	color:#666;
	background-color:#fff;
	font-size: 12px;
}
h1,h2,h3,h4{color:#777;}
.clear{clear:both;}
a{color:#666;text-decoration:none;}
a:hover{color:#0066ff;}
ol.digit{list-style:decimal outside none;margin:0 30px;}
#inner{margin:0 20px;}
#inner img{border:thin solid #ddd;margin:10px 0;}
dl{
	margin-bottom:20px;
}
.button{
	background-color: #777;
    color: #FFFFFF;
    display: block;    
    padding: 8px 14px;
    text-decoration: none;
}
.button:hover{
	background-color: #666;	
	color:#fefefe;	
}

.warning_box{clear:both;background:url(../images/warning24.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;background-position:15px 20px;padding:20px 20px 15px 50px;margin:0 0 10px 0;}

.valid_box{clear:both;background:url(../images/valid24.png) no-repeat left #edfce9;
border:1px #cceac4 solid;background-position:15px 20px;padding:20px 20px 15px 50px;margin:0 0 10px 0;}

.error_box{clear:both;background:url(../images/error24.png) no-repeat left #fce9e9;
border:1px #eac7c7 solid;background-position:15px 20px;padding:20px 20px 15px 50px;margin:10px;}
#loginbox .error_box{
	margin:0;
	
}
#content{
	padding:30px 20px;
	
}

/*header*/
#header{
	background:none repeat scroll 0 0 #F1F1F1;
	width:100%;
	height:80px;
	border-bottom:4px solid #E5E5E5;	
}
#logo{
	float:left;
	margin:4px 10px;
	width:152px;
	height:75px;
	background:url('../images/logo.png') no-repeat scroll 0 0 transparent;
}
#nav,#fblike,#donation{
	float:right;	
    margin-right: 20px;
    margin-top: 24px;
}
#fblike{
	margin-top:30px;
}
#breadcrumb
{
    font: 11px Arial, Helvetica, sans-serif;
    background-image:url('bc_bg.png'); 
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin-bottom:10px;
    padding:0px;
}
#breadcrumb li 
{
    list-style-type:none;
    float:left;
    padding-left:10px;
}
#breadcrumb a
{
    height:30px;
    display:block;
    background-image:url('../images/bc_separator.png'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#454545;
}
.home
{
    border:none;
    margin: 8px 0px;
}

#breadcrumb a:hover
{
	color:#35acc5;
}
.right_header{    
    float:right;
    text-align:right;
    color:#777;
    padding:30px 10px 0;
}
.right_header a{
    margin:0 5px 0 5px;
    text-decoration:underline;    
}
.right_header a.messages{
    background:url(../images/comment.png) no-repeat right;
    padding-right:20px;
}
.right_header a.logout{
    background:url(../images/user_logout.png) no-repeat right;
    padding-right:20px;
}
/*/header*/
/*login*/
.fieldbox{
	width:100%;
	margin-bottom:20px;
}
#login{
	float: right;
	width: 30%;
}
#loginbox{
	background-color: #EFEFEF;       
    padding: 20px;
    
}
label{
	color:#000;
	font-size:1em;	
	display:block;
}
.input{
	width:100%;
	padding:5px 0;	
	border:thin solid #fefefe;
}
.input:focus{
	border:thin solid #777;
}

.button.login{
	background:#90979F;	
	border:thin solid #DDDDDD;
}
.button.login:hover{
	background:#777;	
	border:thin solid #f1f1f1;
	cursor:pointer;
}
#sociallogin{
	margin-top:10px;
	width:100%;
}
#status{	
	color:#777;
	margin-bottom:10px;
}

#fblogin,#twitterlogin,#forgot{
	display:block;
	padding:2px 0 2px 24px;	
	margin:10px 0;
	text-decoration:none;
}
#fblogin{
	background:url('../images/fb16.png') no-repeat scroll 0 0 transparent;
}
#twitterlogin{
	background:url('../images/twitter16.png') no-repeat scroll 0 0 transparent;
}
#forgot{
	background:url('../images/help.png') no-repeat scroll 0 0 transparent;
}
/*/login*/
/*signup*/
.signup_form{
	width:50%;
	margin:0 auto;
	background-color: #EFEFEF;       
    padding: 20px 50px;
}
.signup_form h2{
	font-size:1.4em;
	color:#666;
	margin:20px 0;
}
/*/signup*/
.nivo-caption{
	font-size:0.9em;
}
.slider-wrapper { 
	width: 550px; 
	margin: 20px auto;
}
.feature{
	float:left;
	width:70%;
}
.feature-text,.feature-img{
	float:left;
}
.feature-img img{
	border-color:#efefef;
	border: 4px solid #FFFFFF !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px 4px #CCCCCC;
}

.feature-text ul li{
	background:url('../images/valid16.png') no-repeat scroll 0 0 transparent;
	padding-left:24px;
	margin: 6px 0;
}
#footer{
	padding-top:10px;
	background:none repeat scroll 0 0 #F1F1F1;
	width:100%;
	height:40px;
	border-top:4px solid #E5E5E5;	
	text-align:center;
	font-size:0.8em;
}
