/*this css file is for logged user*/
.hrgrey{
	border:thin solid #dfdfdf;
}

/*menu*/

#navigation ul ul {
	display: none;
}

	#navigation ul li:hover > ul {
		display: block;
	}


#navigation ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);		
	list-style: none;
	position: relative;
		
}
	#navigation ul:after {
		content: ""; clear: both; display: block;
	}

	#navigation ul li {
		float: left;
	}
		#navigation ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			#navigation ul li:hover a {
				color: #fff;
			}
		
		#navigation ul li a {
			display: block; padding: 15px 20px;
			color: #757575; text-decoration: none;
			
		}
			
		
	#navigation ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		#navigation ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			#navigation ul ul li a {
				padding: 15px;
				width:200px;
				color: #fff;
			}	
				#navigation ul ul li a:hover {
					background: #4b545f;
				}
		
	#navigation ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		
/*/menu*/
#usercontent{
	padding:30px 20px;
	background-color:#fdfdfd;	
}
#panel{	
	width:80%;	
    border: 1px solid #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding:10px 20px;
    min-height:400px;
    background-color:#fff;
}
#usercontent .desc a{
	color:#0066ff;
}
#usercontent .desc a:hover{
	text-decoration:underline;
}
#default .desc{
	font-size:1.2em;
	padding:10px 20px;
}
#default legend,#default .finish{
	display:none;
}
#default img{
	margin:0 auto;
	text-align:center;
}
#usercontent h2{
	font-size:1.4em;
	color:#666;
	margin:20px 0;
}

#usercontent input[type="text"],#usercontent select{
	width:200px;
	padding:5px 0;	
	border:thin solid #ccc;
}
#usercontent textarea{
	width:400px;
	padding:5px 0;
	border:thin solid #ccc;
}
#usercontent input[type="text"]:focus,
#usercontent select:focus,
#usercontent textarea:focus
{
	border:thin solid #777;
}
#usercontent #status{
	font-size:1em;
	margin:20px 0 20px;
}
#usercontent input[type="submit"]{
	margin-top:10px;
	margin-bottom:10px;
}
#usercontent input[type="button"],#usercontent input[type="submit"],#usercontent button
{
	border:none 0;
	background-color: #777;
    color: #FFFFFF;     
    padding: 2px 6px;
    text-decoration: none;
    font-size:0.8em;
}
#usercontent input[type="submit"],#usercontent button{
	font-size:1.1em;	 
    padding: 4px 12px;
    margin-right:20px;
}
#usercontent input[type="button"]:hover,#usercontent input[type="submit"]:hover,#usercontent button:hover{
	background-color: #666;	
	color:#fefefe;	
}

#rounded-corner {   
    margin:0px;
    width:100%;
    text-align: left;
    border-collapse: collapse;
}
#rounded-corner thead th.rounded-left {       
    background: #60c8f2 url('../images/left.jpg') left top no-repeat;
}
#rounded-corner thead th.rounded-q4
{
    background: #60c8f2 url('../images/right.jpg') right top no-repeat;
}
#rounded-corner th
{
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #039;
    background: #60c8f2;
}
#rounded-corner td
{
    padding: 8px;
    background: #ecf8fd;
    border-top: 1px solid #fff;
    color: #669;
    font-size:1em;
}
#rounded-corner tfoot td.rounded-foot-left
{
    background: #ecf8fd url('../images/botleft.jpg') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
    background: #ecf8fd url('../images/botright.jpg') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
    background: #d2e7f0;
}


.question {
    position: absolute;
    display: inline;
    text-align: center;
    width: 174px;
    height: 78px;
    font-size: 13px;
    line-height: 1.5em;
    background: url('../images/bubble.png') left top no-repeat;
    padding: 10px 0 0 0;
    text-shadow: 0px 1px 0px #fff;
    margin-left: -7em;
    margin-top: -6em;
    opacity: 0;
}

.yes{
    margin-top: .5em;
    margin-right: .5em;
    cursor: pointer;
    display: inline-block;
    width: 63px;
    height: 21px;
    color: #434d17;
    text-shadow: 0px 1px 0px #fff;
    background: url('../images/buttony.png') left top no-repeat;
}
.cancel {
    margin-top: .5em;
    margin-right: .5em;
    cursor: pointer;
    display: inline-block;
    width: 63px;
    height: 21px;
    color: #fff;
    text-shadow: 0px 1px 0px #000;
    background: url('../images/buttonn.png') left top no-repeat;
}

a.bt_twitter{
    display:block;
    width: 200px;
    margin:10px 5px 10px 5px;
    line-height:31px;
    text-decoration:none;
    color:#FFFFFF;
    text-shadow:1px 1px #8fa42b;
    background-color: #9AE4E8;
    text-align: center;
    border-radius: 5px;
    float:left;
}                  
a:hover.bt_twitter{ 
    text-decoration:underline;
    -webkit-box-shadow: 2px 2px 5px #585858;
    box-shadow: 2px 2px 5px #585858;
}

a.bt_facebook{
    display:block;
    width: 200px;
    margin:10px 5px 10px 5px;
    line-height:31px;
    text-decoration:none;
    color:#FFFFFF;
    text-shadow:1px 1px #3597bf;
    background-color: #3b5998;
    text-align: center;
    border-radius: 5px;
    float:left;
}
a:hover.bt_facebook { 
    text-decoration:underline;
    -webkit-box-shadow: 2px 2px 5px #585858;
    box-shadow: 2px 2px 5px #585858;
}

a.bt_red{display:block;
    float:right;
    margin:10px 5px 10px 5px;
    line-height:31px;
    text-decoration:none;
    color:#FFFFFF;
    text-shadow:1px 1px #c24739;
}
a.bt_red strong{width:auto;
    height:31px;
    padding:0 10px 0 10px;
    display:block;
    float:left;
    background:url(../images/bt_red_center.gif) repeat-x center;
}
a.bt_red span.bt_red_lft{width:10px;
    height:31px;
    display:block;
    float:left;
    background:url(../images/bt_red_left.gif) no-repeat center right;
}
a.bt_red span.bt_red_r{width:10px;
    height:31px;
    display:block;
    float:left;
    background:url(../images/bt_red_r.gif) no-repeat center right;
}
a:hover.bt_red{ text-decoration:underline;
}

.profile_pic {
    float:left;
    margin: 0 10px;   
    width: 200px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 5px #585858;
    box-shadow:         2px 2px 5px #585858;    
}
.btn_add_akun {       
    margin: 5px 10px;
}
a.orderlnk{
	font-weight:bold;
}
#dashboardmenu li{
	margin-bottom:20px;
}
#usercontent dl {clear:both; width:600px;}
#usercontent dt {float:left; text-align:right; width:170px; padding:10px 10px 30px 0;}
#usercontent dd {float:left; margin:0 0 10px 0;}
/*autocomplete*/
.ui-combobox {
        position: relative;
        display: inline-block;
    }
.ui-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}
.ui-combobox-input {
	margin: 0;
	padding: 0.3em;
}
.warning_box a{
	text-decoration:underline;
}
