body{		
	font-family: Trebuchet MS,Arial,Helvetica,sans-serif;	
	color:#666;
	background-color:#fff;
}
h1,h2,h3,h4{color:#ec7100;}
.clear{clear:both;}
a{color:#666;}
a:hover{color:#0066ff;}
.button{
	background-color: #777;
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 8px 14px;
    text-decoration: none;
}
.button:hover{
	background-color: #666;
	border:#fff;
	color:#fefefe;
}
#content{
	padding:30px 20px;
}
/*header*/
#header{
	background:none repeat scroll 0 0 #F1F1F1;
	width:100%;
	height:80px;
	border-bottom:4px solid #E5E5E5;	
}
#logo{
	float:left;
	margin:4px 10px;
	width:152px;
	height:75px;
	background:url('../images/logo.png') no-repeat scroll 0 0 transparent;
}
#nav{
	float:right;	
    margin-right: 50px;
    margin-top: 24px;
}
/*/header*/
/*login*/
.fieldbox{
	width:100%;
	margin-bottom:20px;
}
#login{
	float: right;
	width: 30%;
}
#loginbox{
	background-color: #EFEFEF;       
    padding: 20px 30px;
    
}
#loginbox label{
	color:#000;
	font-size:0.9em;	
	display:block;
}
#loginbox .input{
	width:100%;
	padding:5px 0;
	
	border:thin solid #fefefe;
}
#loginbox .input:focus{
	border:thin solid #777;
}
#loginbox h2{
	color: #777777;
    display: block;
    margin-bottom: 10px;
}
.button.login{
	background:#90979F;
	float:none;
	border:thin solid #DDDDDD;
}
.button.login:hover{
	background:#777;
	float:none;
	border:thin solid #f1f1f1;
	cursor:pointer;
}
/*/login*/
.nivo-caption{
	font-size:0.8em;
}
.slider-wrapper { 
	width: 400px; 
	margin: 20px auto;
}
.feature{
	float:left;
	width:70%;
}
.feature-text,.feature-img{
	float:left;
}
.feature-img img{
	border-color:#efefef;
	border: 4px solid #FFFFFF !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px 4px #CCCCCC;
}

.feature-text ul li{
	background:url('../images/valid.png') no-repeat scroll 0 0 transparent;
	padding-left:24px;
	margin: 6px 0;
}
#fblogin,#twitterlogin{
	display:block;
	padding-left:24px;
	font-size:0.8em;
	margin:10px 0;
	text-decoration:none;
}
#fblogin{
	background:url('../images/fb16.png') no-repeat scroll 0 0 transparent;
}
#twitterlogin{
	background:url('../images/twitter16.png') no-repeat scroll 0 0 transparent;
}
#footer{
	background:none repeat scroll 0 0 #F1F1F1;
	width:100%;
	height:40px;
	border-top:4px solid #E5E5E5;	
}
